@{
    ViewData["Title"] = "Home Page";
}


<div class="col-md-5 mb-2 ms-md-2 mb-5 text-center">
    <img src="~/Images/HomeImage.jpg" alt="Logo" style="height: 620px; width: 1100px;" asp-append-version="true">
</div>

<div  class="homes" id="homes">

    <img src="~/Images/HomeLogo.jpg" alt="Logo" style="height: 320px; width: 400px;" class="mb-5" asp-append-version="true" />

    <div class ="homes-text">


    <h1>STAY INFORMED,<br /> STAY HEALTHY</h1>
    <p>
        Simplifying Child Health,
        One Step at a Time. Keep track of your child's well-being effortlessly with our intuitive monitoring system, ensuring they thrive at every stage of development.
    </p>
    </div>

</div>

